@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: monospace;
  background-color: rgba(196, 226, 224);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 8px;
}

a {
  font-family: Helvetica;
  font-size: small;
  margin-left: 8px;
  text-decoration: none;
}

img {
  margin-left: 8px;
}

iframe {
  margin-left: 8px;
}

nav {
  background-color: rgb(156, 204, 243);
  padding: 10px;
}

nav a:link {
  color: blue;
}
nav a:visited {
  color: magenta;
}
nav a:hover {
  color: lime;
}
nav a:active {
  color: red;
}
footer {
  padding-left: 10px;
}

/* Classer */
.name-heading {
  font-family: "Montserrat", sans;
  color: blue;
  font-size: 2.5em;
}

.text-style {
  font-family: Helvetica, sans-serif;
}

.githublink-style a:link {
  color: black;
}

.githublink-style a:visited {
  color: darkgreen;
}

.githublink-style a:hover {
  text-decoration: underline;
  color: red;
}

.dummy-links a {
  color: black;
  font-weight: bold;
}
