@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  background-color: rgb(198, 219, 236);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 8px;
}

a {
  font-family: Helvetica;
  font-size: small;
  margin-left: 8px;
  text-decoration: none;
}

img {
  margin-left: 8px;
}

iframe {
  margin-left: 8px;
}

nav {
  background-color: rgb(82, 130, 219);
  padding: 10px;
  font-weight: bold;
}

nav a:hover {
  color: lime;
}
nav a:active {
  color: rgb(255, 0, 0);
}
footer {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* Classer */
.name-heading {
  font-family: "Montserrat", sans;
  color: blue;
  font-size: 2.5em;
}

.text-style {
  font-family: Helvetica, sans-serif;
}

.githublink-style a:link {
  color: black;
}

.githublink-style a:visited {
  color: darkgreen;
}

.githublink-style a:hover {
  text-decoration: underline;
  color: rgb(224, 75, 5);
}

.dummy-links a {
  color: black;
  font-weight: bold;
}
